<%- include('partials/head.ejs') %>
    <h1>Tela de login</h1>
    <span>
        <% if( typeof message !== 'undefined') { %>
            <%= message %>
            <br>
        <% } %>
    </span>
    <form id="form" action="/checkLogin" method="post">
        <div>
            <label>Usuário</label>
            <input type="text" name="user" placeholder="Digite seu usuário">
        </div>
        <div>
            <label>Senha</label>
            <input type="text" name="password" placeholder="Digite sua senha">
        </div>
        <button type="submit">Acessar</button>
    </form>

    <script src="js/main.js"></script>

<%- include('partials/foot.ejs') %>