<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    
    <h1>Painel do administrador</h1>

    <nav>
        <a href="/regCustomer">Cadastro de cliente</a>
    </nav>
</body>
</html>